.left-box
  %ul.left-box
    %li.left-box__lists__list
      マイページ
      = icon('fas', 'chevron-right')
    %li.left-box__lists__list
      お知らせ
      = icon('fas', 'chevron-right')
    %li.left-box__lists__list
      やることリスト
      = icon('fas', 'chevron-right')
    %li.left-box__lists__list
      いいね！一覧
      = icon('fas', 'chevron-right')
    %li.left-box__lists__list
      出品する
      = icon('fas', 'chevron-right')
    %li.left-box__lists__list
      出品した商品ー出品中
      = icon('fas', 'chevron-right')
    %li.left-box__lists__list
      出品した商品ー取引中
      = icon('fas', 'chevron-right')
    %li.left-box__lists__list
      出品した商品ー売却済み
      = icon('fas', 'chevron-right')
    %li.left-box__lists__list
      購入した商品ー取引中
      = icon('fas', 'chevron-right')
    %li.left-box__lists__list
      購入した商品ー過去の取引
      = icon('fas', 'chevron-right')
    %li.left-box__lists__list
      ニュース一覧
      = icon('fas', 'chevron-right')
    %li.left-box__lists__list
      評価一覧
      = icon('fas', 'chevron-right')
    %li.left-box__lists__list
      ガイド
      = icon('fas', 'chevron-right')
    %li.left-box__lists__list
      お問い合わせ
      = icon('fas', 'chevron-right')

    %ul.left-box2
      %li.left-box2__lists
        ペイ
      %li.left-box2__lists__list
        売り上げ・振込申請
        = icon('fas', 'chevron-right')
      %li.left-box2__lists__list
        ポイント
        = icon('fas', 'chevron-right')

    %ul.left-box3
      %li.left-box3__lists
        設定
      %li.left-box3__lists__list
        プロフィール
        = icon('fas', 'chevron-right')
      %li.left-box3__lists__list
        発送元・お届け先住所変更
        = icon('fas', 'chevron-right')
      %li.left-box3__lists__list
        支払い方法
        = icon('fas', 'chevron-right')
      %li.left-box3__lists__list
        メール/パスワード
        = icon('fas', 'chevron-right')
      %li.left-box3__lists__list__main
        本人情報
        = icon('fas', 'chevron-right')
      %li.left-box3__lists__list
        電話番号の確認
        = icon('fas', 'chevron-right')
      %li.left-box3__lists__list
        ログアウト
        = icon('fas', 'chevron-right')

