.main-screen
  .wrapper
    .header-box
      = render "shared/header"
    = render "check/header-menu-check"
    .container
      = render "check/left_box-check"
      = render "check/check"
    = render "shared/camera"
    .footer-box
    = render "shared/footer"