.main-screen
  .wrapper
    .header-box
      = render "shared/header"
    = render "logout/header-menu-logout"
    .container
      = render "logout/left_box-logout"
      .logout-box
        = render "logout/main-logout"
      = render "shared/camera"
    .footer-box
    = render "shared/footer"