.registration-screen
  .header-complete
    %h1 
      =image_tag "fmarket_logo.png",size: '125x36',alt:"fmarket"
    %nav.registration-box
      %ul.registration-procedure
        %li.information-user
          会員情報
          .information-progress-status
            .information-progress-status__bar21
        %li.phone
          電話番号認証
          .phone-progress-status
          .phone-progress-status__bar22
        %li.address
          住所入力
          .address-progress-status
          .address-progress-status__bar23
        %li.complete
          完了
          .complete-progress-status
          .complete-progress-status__bar25
  .complete-box
    .complete-main
      %section.complete-container
        %h2 会員登録完了
      %form.complete-text
        .complete-text__box
          .complete-text__contents
            %p ありがとうございます。
            %p 会員登録が完了しました。
            = link_to "フリマアプリをはじめる", root_path, class: 'btn conplete'
  .footer-cover
    .footer-cover-contents
      =image_tag "#{asset_path "footer_cover.png"}" ,size: "750x300" ,alt:"footer_cover"
      .footer-cover-contents--text1
        スマホでかんたんフリマアプリ
        .footer-cover-contents--text2
          今すぐ無料ダウンロード！
          =image_tag "#{asset_path "App_Store_icon.png"}" ,size: "170x50" ,alt:"App_Store_icon"
          =image_tag "#{asset_path "Google_play_icon.png"}" ,size: "170x50" ,alt:"Google_play_icon"

  .footer-contents
    .footer-contents--main
      .footer-contents--mainlist1
        エフマーケットについて
      .footer-contents--mainlist2
        公式ブログ
      .footer-contents--mainlist3
        相互リンク
      .footer-contents--mainlist4
        = link_to "https://twitter.com/", class: "contents__btn" do
          = icon('fab', 'twitter')
        .footer-contents--mainlist5
          = link_to "https://www.facebook.com/", class: "contents__btn" do
            = icon('fab', 'facebook-square')
      =image_tag "fmarket_logo_white.png",size: '125x36',alt:"fmarket_white"
  .footer-registration-box 
    %ul.footer-registration-box-content
      %li.footer-registration-box-content__list
        %a プライバシーポリシー
      %li.footer-registration-box-content__list
        %a フリマアプリ利用規約
      %li.footer-registration-box-content__list
        %a 特定商取引に関する表記
    .footer-registration-box-content__icon
      =image_tag "fmarket_logo_white.png",alt:"fmarket"