.registration-screen
  .header-information
    %h1 
      =image_tag "fmarket_logo.png",size: '125x36',alt:"fmarket"
    %nav.registration-box
      %ul.registration-procedure
        %li.information-user
          会員情報
          .information-progress-status
          .information-progress-status__bar1
        %li.phone
          電話番号認証
          .phone-progress-status
          .phone-progress-status__bar2
        %li.address
          住所入力
          .address-progress-status
          .address-progress-status__bar3
        %li.complete
          完了
          .complete-progress-status
          .complete-progress-status__bar5
  .information-box
    .information
      %section.information-container
        %h2 会員情報入力
      .information-text
      = form_for(@user, url: new_phone_registrations_path, method: :get) do |f|
        .information-text__box
          .information-text__contents
            %label ニックネーム
            %span 必須
            = f.text_field :nickname, placeholder: '例) アヤ'
          .information-text__contents
            %label メールアドレス
            %span 必須
            = f.email_field :email, placeholder: 'PC・携帯どちらでも可'
          .information-text__contents
            %label パスワード  
            %span 必須
            = f.password_field :password, placeholder: '6文字以上'
            %p ※英字と数字の両方を含めて設定してください
          .information-text-check
            %h3 本人確認
            %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .information-name
            .name
            %label お名前(全角)
            %span 必須
            .name-area
              = f.text_field :family_name, placeholder: '例) 神田'
              = f.text_field :first_name, placeholder: '例) 綾'
          .information-name 
            .name
            %label お名前(全角カナ)
            %span 必須
            .name-area
              = f.text_field :family_name_kana, placeholder: '例) カンダ'
              = f.text_field :first_name_kana, placeholder: '例) アヤ'
          .information-birthday
            %label 生年月日
            %span.required 必須
            .birthday-select
              != sprintf(f.date_select(:birthday,{ start_year: Date.today.year, end_year: Date.today.year-120,prompt:"--", use_month_numbers: true, with_css_classes: true,discard_minute:true,date_separator: '%s', datetime_separator: '%s'}, {required: true}), '<div class="input-field-multiple__separate-text">年</div>', '<div class="input-field-multiple__separate-text">月</div>') +'<div class="input-field-multiple__separate-text">日</div>'
            %p ※本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          .information-next
            .next-text
            %p 「次へ進む」のボタンを押すことにより、
            %a 利用規約
            %p に同意したものとみなします
            = f.submit "次へ進む", class: 'btn information'
          .information-registration
            %p 本人情報の登録について  
            = icon('fas', 'chevron-right')
          .information-english
            %p This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
      .footer-registration-box 
        %ul.footer-registration-box-content
          %li.footer-registration-box-content__list
            %a プライバシーポリシー
          %li.footer-registration-box-content__list
            %a フリマアプリ利用規約
          %li.footer-registration-box-content__list
            %a 特定商取引に関する表記
        .footer-registration-box-content__icon
          =image_tag "fmarket_logo_white.png",alt:"fmarket"