.registration-screen
  .header-payment
    %h1 
      =image_tag "fmarket_logo.png",size: '125x36',alt:"fmarket"
    %nav.registration-box
      %ul.registration-procedure
        %li.information-user
          会員情報
          .information-progress-status
            .information-progress-status__bar
        %li.phone
          電話番号認証
          .phone-progress-status
          .phone-progress-status__bar
        %li.address
          住所入力
          .address-progress-status
            .address-progress-status__bar
        %li.payment
          支払い方法
          .payment-progress-status
          .payment-progress-status__bar
        %li.complete
          完了
          .complete-progress-status
          .complete-progress-status__bar
  .payment-box
    .payment-main
      %section.payment-container
        %h2 クレジットカード情報入力
      .payment-text
      = form_for(@card, url: complete_registrations_path, method: :post) do |f|
        .payment-text__box
          .payment-text__contents
            %label カード番号
            %span 必須
            = f.text_field :card_number, placeholder: '例) 半角数字のみ'
            %ul.card
              %li=image_tag "image-visa.png",size: "49x20" 
              %li=image_tag "image-mastercard.png",size: "34x20" 
              %li=image_tag "image-SAISON.png",size: "30x20" 
              %li=image_tag "image-JCB.png",size: "32x20" 
              %li=image_tag "image-AMERICAN.png",size: "21x20" 
              %li=image_tag "image-Diners.png",size: "32x20"
              %li=image_tag "image-DISCOVER.png",size: "32x20"  
          .payment-expiration-date
            %label 有効期限
            %span.required 必須
            .expiration-date
              .select-month
                = f.select :expiration_month,Card.expiration_months,prompt:{start_month:1, end_month:12}, class: "select"
                %span 月
              .select-year
                = f.select :expiration_year,Card.expiration_years,prompt:{start_year:20, end_year:30}, class: "select"
                %span 年
          .payment-text__contents
            %label セキュリティコード
            %span 必須
            %textarea.textarea-default{name: "introduction",placeholder: "カード裏面4桁もしくは3桁の番号"}
          .payment-text__numver
            .text
              = icon('fas','question-circle')
              %span カード裏面の番号とは？
          = f.submit "次へ進む", class: 'btn btn-warning'
  .footer-registration-box 
    %ul.footer-registration-box-content
      %li.footer-registration-box-content__list
        %a プライバシーポリシー
      %li.footer-registration-box-content__list
        %a メルカリ利用規約
      %li.footer-registration-box-content__list
        %a 特定商取引に関する表記
    .footer-registration-box-content__icon
      =image_tag "fmarket_logo_white.png",alt:"fmarket"