//ヘッダー
.header
  .header-wrapper
    .header-wrapper--top
      =image_tag "#{"fmarket_logo.png"}",size: '125x36',alt:"fmarket"
      .search_bar
        %input.textform{name: "keyword", placeholder: "何かお探しですか？", type: "text", value: ""}
        %i.fas.fa-search.search_icon
  .header-bottom
    .header-bottom--list
      .search-category
        %i.fas.fa-list
        カテゴリーから探す
      .search-brand
        %i.fas.fa-tag
        ブランドから探す
      .known-list
        %i.far.fa-bell
        お知らせ
      .play-list
        - if user_signed_in?
          = link_to new_card_path do
            %i{class: "fas fa-check"}
              クレジットカード登録/削除
        - else
          = link_to new_user_session_path do
            %i{class: "fas fa-check"}
              クレジットカード登録/削除
      .mypage-list
        - if user_signed_in?
          = link_to mypage_index_path do
            %i{class: "fas fa-smile"}
              マイページ
        - else
          = link_to new_user_session_path do
            %i{class: "fas fa-smile"}
              ログイン/新規会員登録