.main-screen
  .wrapper
    .header-box
      = render "shared/header"
    = render "credit/header-menu-credit"
    .container
      = render "credit/left_box-credit"
      = render "credit/credit"
    = render "shared/camera"
    .footer-box
    = render "shared/footer"