.main-screen
  .wrapper
    .header-box
      = render "shared/header"
    = render "cards/header-menu-credit"
    .container
      = render "cards/left_box-credit"
      = render "cards/credit"
    .footer-box
    = render "shared/footer"


