//header
= render "shared/header"

//カメラアイコン
= render "shared/camera"

//header直下の表紙

.upcover
  =image_tag "#{asset_path "freemarket_cover.png"}",size: "1440x400" ,alt:"fmarket_cover"
  .upcover-wrapper
    .upcover-wrapper--content1
      スマホでかんたん
      .upcover-wrapper--content2
        フリマアプリ
    .upcover-wrapper--content3
      エフマーケットはスマホからすぐに出品できる
    .upcover-wrapper--content4
      購入時も安心な独自システムのアプリです
    =image_tag "#{asset_path "App_Store_icon"}",size: "170x50" ,alt:"App_Store_icon"
    =image_tag "#{asset_path "Google_play_icon"}" ,size: "170x50" ,alt:"Google_play_icon"

.contents1
  .contents1-wrapper
    全ての商品一覧
  .contents1-column
    .contents1-column--ladis
      レディース
    .contents1-column--mens
      メンズ
    .contents1-column--homeappliances
      家電・スマホ・カメラ
    .contents1-column--toys
      おもちゃ・ホビー・グッズ

.contents2
  .contents2-ladis-wrapper
    .contents2-ladis-wrapper--text1
      レディース新着アイテム
      .contents2-ladis-wrapper--text2
        もっと見る >
    .contents2-ladis-wrapper--product
      = image_tag "#{asset_path "dummy_product"}" ,size: "188x252" ,alt:"dummy_product"
      %span.price-label{"": "Price"} ¥2,700
      .contents2-ladis-wrapper--product-text
        ギャバワンピース

.contents1
  .contents1-wrapper
    人気の商品一覧
  .contents1-column
    .contents1-column--ladis
      レディース
    .contents1-column--mens
      メンズ
    .contents1-column--homeappliances
      家電・スマホ・カメラ
    .contents1-column--toys
      おもちゃ・ホビー・グッズ

.contents2
  .contents2-ladis-wrapper
    .contents2-ladis-wrapper--text1
      レディース新着アイテム
      .contents2-ladis-wrapper--text2
        もっと見る >
    .contents2-ladis-wrapper--product
      = image_tag "#{asset_path "dummy_product"}" ,size: "188x252" ,alt:"dummy_product"
      %span.price-label{"": "Price"} ¥2,700
      .contents2-ladis-wrapper--product-text
        ギャバワンピース

//footer(一番下の表示)
= render "shared/footer"
