.user-contents-box
  %section.user
    .user__face
      %i.fas.fa-user-circle
    .user__name
      %h2 ユーザー
    .number
      .evaluation
        評価
        %span 5
      .exhibitions
        出品数
        %span 5

  %section.user-action
    %ul.user-action-tabs
      %li.user-action-tab__news_list
        %h3 お知らせ
      %li.user-action-tab__to_to_list
        %h3 やることリスト

    .user-action-tab__contents
      %ul.user-action-tab__contents__box
        %li.user-action-tab__contents__box__list
          %a.content-box
            .fmarket_logo
              =image_tag "fmarket_logo.png",size: '125x36',alt:"fmarket"
            .content
              .text
                お知らせ1
              .time
                %i= icon('far','clock')
                %span time
            .icon
              = icon('fas', 'chevron-right')
        %li.user-action-tab__contents__box__list
          %a.content-box
            .fmarket_logo
              =image_tag "fmarket_logo.png",size: '125x36',alt:"fmarket"
            .content
              .text
                お知らせ2
              .time
                = icon('far','clock')
                %span time
            .icon
              = icon('fas', 'chevron-right')
        %li.user-action-tab__contents__box__list
          %a.content-box
            .fmarket_logo
              =image_tag "fmarket_logo.png",size: '125x36',alt:"fmarket"
            .content
              .text
                お知らせ3
              .time
                = icon('far','clock')
                %span time
            .icon
              = icon('fas', 'chevron-right')
        %li.user-action-tab__contents__box__list
          %a.content-box
            .fmarket_logo
              =image_tag "fmarket_logo.png",size: '125x36',alt:"fmarket"
            .content
              .text
                お知らせ4
              .time
                = icon('far','clock')
                %span time
            .icon
              = icon('fas', 'chevron-right')
        %li.user-action-tab__contents__box__list
          %a.content-box
            .fmarket_logo
              =image_tag "fmarket_logo.png",size: '125x36',alt:"fmarket"
            .content
              .text
                お知らせ5
              .time
                = icon('far','clock')
                %span time
            .icon
              = icon('fas', 'chevron-right')
        %li.contents-list
          %a 一覧を見る
 
  %section.user-purchased-list
    %h2 購入した商品
    %ul.action-tab
      %li.action-tab1
        %h3
          %a 取引中
      %li.action-tab2
        %h3
          %a 過去の取引
    .trading-products-lists
      %ul.lists-box
        %li.list
          .fmarket_logo
            =image_tag "fmarket_logo_white.png",alt:"fmarket"
            .text
            取引中の商品がありません
        

