.main-screen
  .wrapper
    .header-box
      = render "shared/header"
    = render "mypage/header-menu-mypage"
    .container
      = render "mypage/left_box-mypage"
      = render "mypage/user-mypage"
    = render "shared/camera"
    .footer-box
    = render "shared/footer"