//header
= render "shared/header"

//カメラアイコン
= render "shared/camera"

//header直下の表紙

.upcover
  =image_tag "#{"freemarket_cover.png"}" ,alt:"fmarket_cover",class: "upcoverpng"
  .upcover-wrapper
    .upcover-wrapper--content1
      スマホでかんたん
      .upcover-wrapper--content2
        フリマアプリ
    .upcover-wrapper--content3
      エフマーケットはスマホからすぐに出品できる
    .upcover-wrapper--content4
      購入時も安心な独自システムのアプリです
    =image_tag "#{"App_Store_icon.png"}",size: "170x50" ,alt:"App_Store_icon"
    =image_tag "#{ "Google_play_icon.png"}" ,size: "170x50" ,alt:"Google_play_icon"

.contents1
  .contents1-wrapper
    全ての商品一覧
  .contents1-column
    .contents1-column--ladis
      レディース
    .contents1-column--mens
      メンズ
    .contents1-column--homeappliances
      家電・スマホ・カメラ
    .contents1-column--toys
      おもちゃ・ホビー・グッズ

.contents2
  .contents2-ladis-wrapper
    .contents2-ladis-wrapper--text1
      全てのアイテム
      .contents2-ladis-wrapper--text2
        もっと見る >
    .contents2-form
      = render @products


.contents1
  .contents1-wrapper
    人気の商品一覧
  .contents1-column
    .contents1-column--ladis
      レディース
    .contents1-column--mens
      メンズ
    .contents1-column--homeappliances
      家電・スマホ・カメラ
    .contents1-column--toys
      おもちゃ・ホビー・グッズ

.contents2
  .contents2-ladis-wrapper
    .contents2-ladis-wrapper--text1
      レディース新着アイテム
      .contents2-ladis-wrapper--text2
        もっと見る >
    .contents2-ladis-wrapper--product
      = image_tag "#{"dummy_product.png"}" ,size: "188x252" ,alt:"dummy_product"
      %span.product.price ¥2,700
      .product.name
        ギャバワンピース

//footer(一番下の表示)
= render "shared/footer"


