.main-screen
  .wrapper
    .header-box
      = render "shared/header"
    = render "profile/header-menu-profile"
    .container
      = render "profile/left_box-profile"
      .profile-box
        = render "profile/profile"
      = render "shared/camera"
    .footer-box
    = render "shared/footer"